<% if user_signed_in? %>
  <div style="display: inline">
    <% if current_user.like?(post) %>
      <%= form_with(model: current_user.favorites.find_by(post_id: post.id), method: :delete, class:'d-inline') do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
        <%= f.submit 'お気に入り', class: 'btn btn-warning active btn-sm mr-1' %><%= post.favorites.count %>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.favorites.build, class:'d-inline') do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
        <%= f.submit 'お気に入り', class: 'btn btn-secondary btn-sm mr-1' %><%= post.favorites.count %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'お気に入り', user_session_path, class:'btn btn-secondary btn-sm mr-1' %><%= post.favorites.count %>
<% end %>