<% if current_user.like?(post) %>
  <div style="display: inline">
    <%= form_with(model: current_user.favorites.find_by(post_id: post.id), local: true, method: :delete, class:'d-inline') do |f| %>
      <%= hidden_field_tag :post_id, post.id %>
      <%= f.submit '★', class: 'btn btn-warning active btn-sm mr-1' %><%= post.favorites.count %>
  </div>
    <% end %>
  <% else %>
  <div style="display: inline">
    <%= form_with(model: current_user.favorites.build, local: true, class:'d-inline') do |f| %>
      <%= hidden_field_tag :post_id, post.id %>
      <%= f.submit '★', class: 'btn btn-secondary btn-sm mr-1' %><%= post.favorites.count %>
  </div>
    <% end %>
  <% end %>