<% posts.each do |post| %>
<div class="card mt-3">
  <div class="media-header bg-cream">
    <h5 class="ml-3 mt-1"><strong><%= link_to post.title+'あるある', post_path(post), class: 'text-dark' %></strong></h5>
  </div>  
  <div class="card-body">
   <p> <%= post.content %></p>
  </div>
  <div class="card-footer bg-white small">
    <div id="like_button-<%= post.id %>">
      <%= render 'favorites/like_button', post: post %>
    </div>
    　カテゴリー：<%= link_to post.category.type, '/posts/search?utf8=✓&search%5Bcategory_id%5D=' +  post.category.id.to_s + '&sort=new&search%5Btext%5D=&commit=検索'%>
    　投稿者：<%= link_to post.user.name, user_path(post.user)%>
    <div class="mt-1" style="float: right; display: inline-block">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="「<%= post.title %>あるある」　<%= post.content %>" data-url="https://jepapt2-aruaru.herokuapp.com/posts/<%= post.id %>" data-hashtags="あるあるnet" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<% end %>
<br>
<%= paginate posts %>