<div class="container"></div>
<h1>あるある投稿</h1>

<%= form_with(model: @post, local: true) do |f| %>

<%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :title,'あるあるタイトル' %>
    <div class="form-inline">
      <%= f.text_field :title, class: 'form-control', :size=>"50" %>あるある
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :content,'本文' %>
    <%= f.text_area :content, class: 'form-control', :size => "60x5" %>
  </div>
  

  <div class="form-group">
    <%= f.label :category,'カテゴリー' %><br>
    <%= f.collection_select :category_id, Category.all, :id, :category, :include_blank => 'カテゴリを選択', class: "form-control" %>
  </div>
     

<%= f.submit '投稿', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>