<h1>あるある検索</h1>

<%= form_with model: @post, :url => {:action => :search}, scope: :search, method: :get, local: true do |f| %>

  <div class="form-group">
    <%= f.label :category,'カテゴリー' %><br>
    <%= f.collection_select :category_id, Category.all, :id, :type, :include_blank => 'カテゴリを選択', disabled: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sort,'並び替え' %><br>
    <%= select_tag :sort, options_for_select({'新着順': 'new', '古い順': 'old', 'お気に入りが多い順': 'popular', 'お気に入りが少ない順': 'unpopular'}, "new") %>
  </div>
  <div class="form-group">
    <%= f.label :text, 'テキスト検索' %>
    <%= f.text_field :text %>
    
  </div>
<%= f.submit '検索' %> 
  
<% end %>

<%= render 'posts/posts', posts: @posts %>

